body {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
	margin: 10px;
}

header {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

ul {
	display: flex;
	justify-content: flex-end;
}

.h1home {
	color: red;
}

#test1 {
	color: blue;
}

#test2 {
	color: green;
}

footer {
    position: absolute;
    bottom: 0;
}